[submodule "packages/mermaid-js-ai-agent"]
	path = packages/mermaid-js-ai-agent
	url = https://github.com/disler/mermaid-js-ai-agent.git
	branch = main
[submodule "packages/Perplexica"]
	path = packages/Perplexica
	url = https://github.com/lossless-group/Perplexica--lossless.git
[submodule "memopop-ai"]
	path = memopop-ai
	url = https://github.com/lossless-group/memopop-ai.git
[submodule "studies/open-specs-and-standards"]
	path = studies/open-specs-and-standards
	url = https://github.com/lossless-group/study-open-specs-and-standards.git
[submodule "studies/memory-layers-for-agents"]
	path = studies/memory-layers-for-agents
	url = https://github.com/lossless-group/study-memory-layers-for-agents.git
[submodule "studies/data-analytics-specifications-and-standards"]
	path = studies/data-analytics-specifications-and-standards
	url = https://github.com/lossless-group/study-data-analytics-specifications-and-standards.git
[submodule "context-vigilance-kit"]
	path = context-vigilance-kit
	url = https://github.com/lossless-group/context-vigilance-kit.git
	branch = development
[submodule "dididecks-ai"]
	path = dididecks-ai
	url = https://github.com/lossless-group/dididecks-ai.git
	branch = development
[submodule "augment-it"]
	path = augment-it
	url = https://github.com/lossless-group/augment-it.git
